@font-face {
    font-family: 'ir_sans';
    src: url('font/IRANSansRegular.ttf') format('woff');
}

@font-face {
    font-family: 'ir_sans_b';
    src: url('font/IRANSansBold.ttf') format('woff');
}

@font-face {
    font-family: 'yekan_bakh';
    src: url('font/YekanBakh-Regular.ttf') format('woff');
}

* {
    font-family: 'ir_sans'!important;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
}


/* CSS RESET */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

nav {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eb7308 !important;
    margin: 20px 0 !important;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

body {
    background: #141414!important;
    font-family: 'ir_sans'!important;
    direction: rtl;
}

html,
body {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none!important;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

li {
    list-style: none;
}

 :focus {
    outline: none;
}

.clear {
    clear: both;
}

ul {
    padding: 0 !important;
}

.p0 {
    padding: 0!important;
}

.p-r {
    padding-right: 5px !important;
}

.p-l {
    padding-left: 5px !important;
}

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

.text_right {
    text-align: right !important;
}

.text_left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

sup {
    color: #eb7308;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}


/* home */


/* titr */

.titr_1 {
    font-size: 26px;
    font-weight: 600;
}

.heading_title {
    display: flex;
    justify-content: space-between;
    color: #e1e1e1;
}

.heading_title a {
    color: #e1e1e1;
}

.heading_title a:hover {
    color: #eb7308;
}


/* endtitr */


/* circle */

.circle {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #eb7308;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
}


/* end circle */


/* btn_red */

.btn_orange {
    color: #fff !important;
    background-color: #eb7308 !important;
    border-color: #eb7308 !important;
}

.btn_orange:hover {
    color: #eb7308 !important;
    background: transparent !important;
    border-color: #eb7308 !important;
}

.btn_orange:hover a {
    color: #eb7308;
}

.btn_orange:focus {
    box-shadow: none !important;
}

.btn_orange a {
    color: #e1e1e1;
}


/* end_btn_red */


/* navbar */

.nav-link {
    color: #e1e1e1 !important;
}

.nav-link:hover {
    background: #eb7308;
    color: #fff !important;
    font-weight: 500;
}

.bg-scrolling {
    background-color: #f8f9fa!important
}

.bg-scrolling .nav-link {
    color: #242424 !important;
}


/* toggle swith */

input[type="checkbox"] {
    margin: 10px;
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #e67e22, #f39c12);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 30px;
}

input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 20px;
    width: 4px;
    height: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: .5s;
}

input:checked[type="checkbox"]:after {
    left: 50px;
}


/* end toggle swith */


/* swiper */

.swiper-container {
    width: 100%;
    height: 88%;
    margin-top: 70px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 35px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 20px;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px !important;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #eb7308 !important;
}

.sw_img {
    padding: 20px;
}

.sw_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #e1e1e1;
}

.score_box {
    display: inline-flex;
    margin: 20px 0 10px 0;
}

.score_value {
    position: relative;
    top: -73px;
    right: 6px;
    color: #e1e1e1;
}

.score_value span {
    margin-left: 37px;
}

.score_title {
    margin-right: 8px
}

.score_title span {
    margin-left: 30px;
    color: #e1e1e1;
}


/* swiper */


/*===============================
=            advansed seach     =
===============================*/

.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
    direction: rtl;
}

.choices:focus {
    outline: none;
}

.choices:last-child {
    margin-bottom: 0;
}

.choices__list--dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
}

.choices__list--dropdown.is-active {
    display: block;
}

.is-open .choices__list--dropdown {
    border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0;
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

[dir="rtl"] .choices__list--dropdown .choices__item {
    text-align: right;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 100px;
    }
    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5;
}

.choices__item {
    cursor: default;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .5;
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.choices__button:focus {
    outline: none;
}


/*=====  End of Choices  ======*/

.s009 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    margin: 40px 0;
}

form {
    width: 100%;
    margin: 0;
}

.inner-form {
    width: 100%;
}

.input-field {
    position: relative;
}

.input-field input {
    height: 100%;
    border: 0;
    background: #242424;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    height: 70px;
    color: #555;
}

.input-field input.placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
    direction: rtl;
}

.input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
}

.input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
}

.input-field input:hover,
.input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #666;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.input-field .btn-delete:hover,
.input-field .btn-delete:focus {
    color: #eb7308;
    outline: 0;
    box-shadow: none;
}

.basic-search {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #eb7308;
}

.basic-search .input-field {
    width: 100%;
}

.basic-search .input-field input {
    padding: 10px 80px 10px 40px;
}

.basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 100%;
}

.basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #eb7308;
    opacity: 0.5;
}

.advance-search {
    background: #242424;
    padding: 40px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.advance-search .desc {
    font-size: 14px;
    color: #999;
    display: block;
    margin-bottom: 26px;
    font-weight: bold;
}

.advance-search .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.advance-search .row.Fourth {
    margin-bottom: 0;
}

.advance-search .row.Fourth .input-field {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.advance-search .row.Fourth .input-field .result-count {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    color: #666;
    font-size: 14px;
}

.advance-search .row.Fourth .input-field .result-count span {
    color: #eb7308;
    padding-right: 5px;
}

.advance-search .input-field {
    width: calc((100% - 40px) / 3);
}

.advance-search .input-select {
    height: 40px;
    text-align: right;
}

.advance-search .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    border: 1px solid #eb7308;
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    min-height: 40px;
}

.advance-search .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 5px 18px;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #e1e1e1;
    font-weight: bold;
}

.advance-search .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #eb7308;
    font-weight: bold;
}

.advance-search .choices__list.choices__list--dropdown {
    border: 0;
    background: #141414;
    padding: 10px 18px 20px 18px;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

.advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
    color: #eb7308;
}

.advance-search .choices__list--dropdown .choices__item {
    color: #666;
    min-height: 20px;
    padding: 8px 0;
    font-weight: bold;
}

.advance-search .choices[data-type*="select-one"]:after {
    border: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    transform: none;
    opacity: 1;
    right: 15px;
    top: 6px;
    background-size: 18px 18px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.advance-search .choices[data-type*="select-one"].is-open {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.advance-search .choices[data-type*="select-one"].is-open:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
}

.advance-search .choices[data-type*="select-one"] .choices__button {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* end advanced search */


/* start movie_division */

.movie_division {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px !important;
}

.movie_box {
    background: #242424;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.movie_box .movie_img {
    overflow: hidden;
    margin: 15px 0;
}

.movie_box .movie_img img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    filter: grayscale();
    border-radius: 10px;
}

.movie_box:hover .movie_img img {
    transform: scale(1.04);
    filter: none;
}

.movie_title {
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
    text-align: center;
}

.movie_title a {
    display: inline-block;
    color: #e1e1e1;
    transition: all 0.3s ease 0s;
    margin-bottom: 10px;
}

.movie_title a:hover {
    color: #eb7308;
    text-decoration: none;
}

.movie_box .movie_content {
    padding: 20px;
    position: relative;
    display: none;
}

.movie_box:hover .movie_content {
    display: block;
}

.movie_box .movie_description {
    font-size: 12px;
    color: #e1e1e1;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: justify;
}

.movie_box .movie_bar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.movie_division button .input-select {
    height: 40px;
    text-align: right;
}

.movie_division .choices__inner {
    background: #eb7308;
    border-radius: 5px;
    border: 0;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    min-height: 40px;
}

.movie_division .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 5px 18px;
    -ms-flex-align: center;
    align-items: center;
}

.movie_division .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #e1e1e1;
    font-weight: bold;
}

.movie_division .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #e1e1e1;
    font-weight: bold;
}

.movie_division .choices__list.choices__list--dropdown {
    border: 0;
    background: #141414;
    padding: 10px 18px 20px 18px;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    min-width: 100px;
}

.movie_division .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
    direction: rtl;
}

.movie_division .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
    color: #eb7308;
}

.movie_division .choices__list--dropdown .choices__item {
    color: #666;
    min-height: 20px;
    padding: 8px 0;
    font-weight: bold;
}

.movie_division .choices[data-type*="select-one"]:after {
    border: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    transform: none;
    opacity: 1;
    right: 15px;
    top: 6px;
    background-size: 18px 18px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.movie_division .choices[data-type*="select-one"].is-open {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.movie_division .choices[data-type*="select-one"].is-open:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
}

.movie_division .choices[data-type*="select-one"] .choices__button {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* end movie_division */


/*start latest trailers  */

.latest_trailers {
    background: #242424;
    padding: 20px;
    border-radius: 10px;
    margin: 40px 0 !important;
}

.thumbnail {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.item_list {
    display: flex;
    align-items: center;
    border: 1px solid #eb7308;
    border-radius: 5px;
    color: #e1e1e1;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.item_list:hover {
    background: #eb7308;
    text-shadow: 2px 2px 2px #000;
}

.item_list ul {
    list-style: none;
    margin: 0 10px;
}

.tr_box {
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    width: 100%;
}

.tr_box:before {
    content: "";
    border: 2px solid #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1.5, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .35s;
}

.tr_box:hover {
    background: linear-gradient(-45deg, #eb7308, #ee341b, #c79816);
}

.tr_box:hover:before {
    opacity: 1;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1.5, 1, 1);
}

.tr_box img {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0) scale(1);
    transition: all 0.5s ease 0s;
}

.tr_box:hover img {
    opacity: 0.3;
    transform: translate3d(-12px, 0, 0) scale(1.1) rotate(3deg);
}

.tr_box .tr_content {
    color: #fff;
    width: 100%;
    padding: 15px 10px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.tr_box:hover .tr_content {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}

.tr_box .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 0 3px;
}

.tr_box .Release_date {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    margin: 0 0 10px;
    display: block;
}

.tr_box .icon {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tr_box .icon li {
    display: inline-block;
    margin: 0 2px;
}

.tr_box .icon li a {
    background: #fff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: block;
    transition: all .35s;
}

.tr_box .icon li a:hover {
    background: #fff;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}


/* end latest trailers */


/* start latest news */

.latest_news {
    margin-bottom: 40px;
}

.news_list,
.news_info {
    background: #242424;
    padding: 20px !important;
    border-radius: 10px;
}

.news_list ul li {
    font-size: 14px;
    padding: 15px 0;
}

.news_list ul li a {
    color: #e1e1e1;
    line-height: 1.5rem;
}

.news_list ul li a:hover {
    color: #eb7308;
}

.news_img img {
    width: 100%;
}

.news_contact {
    color: #e1e1e1;
}

.news_footer {
    direction: ltr;
}


/* end latest news */


/* start footer */

.footer {
    background: #242424;
    color: #e1e1e1;
    padding: 20px 50px;
}

.tab_link li a {
    color: #e1e1e1;
}

.tab_link li a:hover {
    color: #eb7308;
}

.footer_title {
    font-size: 18px;
    font-weight: 600;
    color: #eb7308;
    padding: 10px;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
}

.social li,
.symbol li {
    display: inline;
    margin-left: 5px;
}

.symbol img {
    margin-top: 30px;
    width: 50px;
}

.vira,
.fast_link,
.icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* end footer */


/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {}

@media only screen and (max-width: 300px) and (min-width: 250px) {}

@media only screen and (max-width: 350px) and (min-width: 300px) {}

@media only screen and (max-width: 400px) and (min-width: 350px) {}

@media only screen and (max-width: 450px) and (min-width: 400px) {}

@media only screen and (max-width: 500px) and (min-width: 450px) {}

@media only screen and (max-width: 550px) and (min-width: 500px) {}

@media only screen and (max-width: 600px) and (min-width: 550px) {}

@media only screen and (max-width: 650px) and (min-width: 600px) {}


/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {}

@media (max-width: 600px) {
    .swiper-pagination {
        display: none;
    }
    .sw_img {
        padding-left: 10px;
    }
    .sw_info .titr_1 {
        font-size: 16px;
    }
    .sw_info p {
        font-size: 12px;
    }
}

@media (max-width: 535px) {
    .movie_division {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .movie_division button {
        margin-bottom: 5px;
        margin-left: 2px;
    }
}

@media (max-width: 600px) {}


/* sm */

@media (min-width: 768px) {}

@media screen and (max-width: 767px) {
    .s009 form .inner-form .basic-search .input-field input {
        padding: 10px 80px 10px 15px;
    }
    .s009 form .inner-form .basic-search .input-field .icon-wrap {
        width: 80px;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .s009 form .inner-form .basic-search .input-field .icon-wrap svg {
        width: 30px;
        height: 30px;
    }
    .s009 form .inner-form .advance-search {
        padding: 30px 15px;
    }
    .s009 form .inner-form .advance-search .row {
        display: block;
    }
    .s009 form .inner-form .advance-search .input-field {
        width: 100%;
        margin-bottom: 20px;
    }
    .score_box,
    .score_title,
    .score_value {
        display: none;
    }
    .news_info,
    .news_list {
        margin: 10px 0;
    }
}


/* md */

@media (max-width: 992px) {
    .latest_trailers {
        display: flex;
    }
    .item_list {
        font-size: 12px;
    }
    .thumbnail {
        width: 80px;
        height: auto;
    }
    .tr_box {
        margin: 30px 0;
    }
}

@media (min-width: 992px) {}

@media (max-width: 992px) {}


/* lg */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}

@media (min-width: 1320px) {}

@media (min-width: 320px) and (max-width: 350px) {}

@media (min-width: 350px) and (max-width: 375px) {}

@media (min-width: 375px) and (max-width: 400px) {}

@media (min-width: 400px) and (max-width: 536px) {}