        @font-face {
            font-family: 'ir_sans';
            src: url('fonts/IRANSansRegular.ttf') format('woff');
        }
        
        @font-face {
            font-family: 'ir_sans_b';
            src: url('fonts/IRANSansBold.ttf') format('woff');
        }
        
        @font-face {
            font-family: 'yekan_bakh';
            src: url('fonts/YekanBakh-Regular.ttf') format('woff');
        }
        /* CSS RESET */
        
        html,
        body,
        div,
        span,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        abbr,
        address,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        samp,
        small,
        strong,
        sub,
        sup,
        var,
        b,
        i,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: inline;
        }
        
        nav ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        a {
            margin: 0;
            padding: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            text-decoration: none!important;
            transition: .2s ease-out;
            -webkit-transition: .2s ease-out;
            -moz-transition: .2s ease-out;
            -o-transition: .2s ease-out;
        }
        /* change colours to suit your needs */
        
        ins {
            background-color: #ff9;
            color: #000;
            text-decoration: none;
        }
        /* change colours to suit your needs */
        
        mark {
            background-color: #ff0;
            color: #000;
            font-style: italic;
            font-weight: bold;
        }
        
        del {
            text-decoration: line-through;
        }
        
        abbr[title],
        dfn[title] {
            border-bottom: 1px dotted;
            cursor: help;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* change border colour to suit your needs */
        
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #cccccc;
            margin: 1em 0;
            padding: 0;
        }
        
        input,
        select {
            vertical-align: middle;
        }
        
        body {
            background: #141414!important;
            direction: rtl;
            line-height: 1;
            font-family: 'ir_sans_b', sans-serif !important;
        }
        
        li {
            list-style: none;
        }
        
         :focus {
            outline: none;
        }
        
        .clear {
            clear: both;
        }
        
        .p0 {
            padding: 0!important;
        }
        
        .fr {
            float: right;
        }
        
        .fl {
            float: left;
        }
        
        .ltr {
            direction: ltr;
        }
        
        .rtl {
            direction: rtl;
        }
        
        .brd {
            border-left: 8px solid #141414;
        }
        /* ------***----------- */
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            overflow: scroll;
        }
        
        p {
            font-weight: 300;
            line-height: 1.7em;
            color: #000;
            text-align: justify;
        }
        
        .row {
            margin: 0 0;
        }
        
        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
        /************************* btn *************************/
        
        .me_btn {
            background-color: #eb8307;
            border-radius: 5px;
            padding: 10px;
            margin-left: 20px;
            border: 1px solid #eb8307;
        }
        
        .me_btn a {
            color: #141414 !important;
        }
        
        .me_btn:hover {
            background: transparent;
            border: 1px solid #eb8307;
        }
        
        .me_btn:hover a {
            color: #eb8307 !important;
        }
        /************************* navbar *************************/
        
        .fixed_top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030
        }
        
        .chinese_black {
            background: #141414;
            color: #fff;
        }
        
        .chinese_black a {
            color: #fff;
        }
        
        .right {
            position: relative;
            right: 100px;
        }
        
        .navbar_nav li {
            float: right;
            padding: 30px;
            cursor: pointer;
        }
        
        .navbar_nav li:hover {
            background-color: #eb8307;
        }
        
        .navbar_nav li:hover a {
            color: #141414 !important;
        }
        
        .left {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            margin-left: 60px;
        }
        
        .left li {
            margin-left: 20px;
            padding: 15px;
        }
        /************************* swiper *************************/
        
        .swiper_container {
            width: 100%;
            height: 600px;
            margin-bottom: 20px;
        }
        
        .swiper_slide {
            font-size: 18px;
            background: transparent;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        
        .poster_img {
            display: flex;
        }
        
        .poster_img img {
            display: flex;
            width: auto;
            height: 560px;
        }
        
        .poster_info {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            top: -50px;
        }
        
        .poster_info h2 {
            display: flex;
            font-weight: bold;
            font-size: 24px;
            margin: 40px 0;
            color: #e1e1e1;
        }
        
        .poster_info p {
            color: #e1e1e1;
            font-size: 14px;
            line-height: 2em;
        }
        
        .score_box {
            display: inline-flex;
            margin: 20px 0;
        }
        
        .circle {
            display: inline;
            height: 50px;
            width: 50px;
            background-color: #fff;
            border-radius: 50%;
            padding: 15px;
            margin-left: 15px;
            position: relative;
        }
        
        .circle_2 {
            display: inline;
            height: 40px;
            width: 40px;
            background-color: #444;
            border-radius: 50%;
            padding: 15px;
            margin-left: 15px;
            position: relative;
        }
        
        .score_value {
            position: absolute;
            top: 227px;
            right: 22px;
            color: #000;
        }
        
        .score_value span {
            margin-left: 37px;
        }
        
        .score_value_2 {
            position: relative;
            top: -52px;
            right: 8px;
            color: #000;
        }
        
        .score_value_2 span {
            margin-left: 37px;
        }
        
        .score_value_3 {
            position: relative;
            top: -50px;
            right: 3px;
            color: #000;
        }
        
        .score_value_3 span {
            margin-left: 23px;
            font-size: 14px;
            font-weight: bold;
        }
        
        .score_title span {
            margin-left: 30px;
            color: #e1e1e1;
        }
        
        .score_title_2 span {
            position: relative;
            top: -15px;
            margin-left: 30px;
            color: #e1e1e1;
        }
        
        .film_btn {
            position: relative;
            right: 0;
            top: 40px;
        }
        
        .poster_btn {
            display: flex;
            margin: 20px 0;
        }
        /************************* advanced search *************************/
        
        .advanced_search {
            margin-bottom: 60px;
        }
        
        .input_select {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80px !important;
            width: 200px;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
        }
        
        .inner_form {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            -ms-flex-align: center;
            border-radius: 5px;
        }
        
        .input_field {
            height: 80px;
        }
        
        .input_field input {
            height: 100%;
            background: #242424;
            border: 0;
            display: block;
            width: 100%;
            padding: 10px 32px;
            font-size: 16px;
        }
        
        .input_field.second_wrap {
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
        
        .input_field.third_wrap {
            width: 150px;
        }
        
        .btn_search {
            height: 100%;
            width: 100%;
            white-space: nowrap;
            color: #fff;
            border: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
            background: #EB8307;
            transition: all .2s ease-out, color .2s ease-out;
        }
        
        .btn_search svg {
            width: 16px;
        }
        
        .btn_search:hover {
            background: #1e1e1e;
            border: 1px solid #EB8307;
            color: #EB8307;
        }
        
        .btn_search:focus {
            outline: 0;
            box-shadow: none;
        }
        /* The Modal (background) */
        
        .modal {
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .close {
            position: relative;
            top: 50px;
            right: 20px;
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /************************* CATEGORY *************************/
        
        .category {
            margin-bottom: 30px;
        }
        
        .tab {
            overflow: hidden;
            display: flex;
            justify-content: space-around;
        }
        
        .tab button {
            width: 150px;
            height: 50px;
            background-color: #fff;
            float: right;
            border: none;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
        
        .tab button:hover {
            background-color: transparent;
            color: #eb8307;
            border: 1px solid #eb8307;
        }
        
        .tab button:focus {
            background-color: #eb8307;
            color: #141414;
        }
        
        .movie_title {
            text-align: center;
            color: #eb8307;
            margin: 30px 0 10px 0;
        }
        
        .movie_box {
            width: 100%;
            height: auto;
            background: #242424;
            border-radius: 10px;
            margin-top: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        .movie_box img {
            display: block;
            margin: auto;
            width: 90%;
            height: auto;
            border-radius: 10px;
        }
        
        .movie_box p {
            padding: 0 15px;
            color: #e1e1e1;
            font-size: 14px;
        }
        
        .movie_box button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .movie_box ul {
            display: flex;
            justify-content: space-around;
        }
        
        .movie_box ul li {
            display: inline-block;
            margin-bottom: 20px;
        }
        
        .movie_btn {
            display: flex;
            justify-content: space-around;
        }
        
        .movie_btn a {
            display: inline;
            padding: 8px 40px;
        }
        /************************ last trailer **********************/
        
        .row {
            display: flex;
        }
        
        .trailer_box {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 100%;
            height: 450px;
            border-radius: 10px;
            background: #242424;
        }
        
        .trailer_box a {
            color: #e1e1e1;
        }
        
        .trailer_img {
            display: flex;
            justify-content: center;
        }
        
        .trailer_img img {
            width: 580px;
            height: 400px;
            border: none;
            border-radius: 5px;
        }
        
        .tr_sub {
            position: absolute;
            left: 20px;
        }
        
        .tr_title li select,
        .season_num li select {
            border: none;
            background: none;
        }
        
        .vertical_list {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-top: 20px;
        }
        
        .vertical_list li {
            display: flex;
            align-items: center;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #eb8307;
            border-radius: 5px;
            cursor: pointer;
            color: #e1e1e1;
        }
        
        .vertical_list li img {
            width: 150px;
            height: 55px;
            margin-left: 10px;
        }
        
        .vertical_list li:hover {
            background: #eb8307;
            color: #141414 !important;
        }
        
        .vertical_list li:focus {
            background: #eb8307;
            color: #141414 !important;
        }
        /**********  last news ***********/
        
        .news_box {
            display: flex;
            margin: 5px;
        }
        
        .news_box a {
            color: #e1e1e1;
        }
        
        a.me_btn {
            color: #141414;
        }
        
        a.me_btn:hover {
            color: #eb8307;
        }
        
        .news_box img {
            width: 300px;
            height: 350px;
        }
        
        .news {
            height: auto;
            background: #242424;
            border-radius: 5px;
            margin-top: 50px;
            padding: 15px;
        }
        
        .space li {
            margin: 50px 0;
        }
        
        .pic_box img {
            margin: 30px;
            border-radius: 5px;
        }
        
        .Summary_box p {
            margin: 30px;
            font-size: 14px;
            color: #e1e1e1;
        }
        
        .f_btn {
            display: inline;
            align-items: center;
        }
        
        .f_btn p {
            color: #e1e1e1;
        }
        /************* footer **************/
        
        footer {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            height: 200px;
            width: 100%;
            background: #242424;
        }
        
        .footer {
            margin-right: 100px;
        }
        
        .footer p {
            color: #e1e1e1;
        }
        
        .f_tabs {
            display: inline-flex;
            justify-content: flex-start;
            font-size: 20px;
            margin: 50px 0;
        }
        
        .f_tabs li {
            margin-left: 60px;
        }
        
        .f_tabs li a {
            color: #e1e1e1;
        }
        
        .neshan {
            display: flex;
            justify-content: center;
            margin: 50px 0;
        }
        /************ single page  ******************/
        
        .movie_panel,
        .download_panel,
        .comment_panel {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: auto;
            background: #242424;
            border-radius: 15px;
            margin-bottom: 30px;
        }
        
        .Actors_panel {
            width: 100%;
            height: 500px;
            background: #242424;
            border-radius: 15px;
            margin-bottom: 30px;
        }
        
        .panel_tape {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            background: #eb8307;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        
        .t_circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #e0e0e0;
            margin: 30px 5px;
        }
        
        .t_score {
            display: flex;
            flex-direction: column;
        }
        
        .t_title {
            display: flex;
            justify-content: center;
            margin: -25px;
        }
        
        .t_num {
            position: relative;
            top: 7px;
            right: 7px;
        }
        
        .top_panel {
            margin: 40px 0 10px 0;
            color: #fff;
        }
        
        .top_panel span {
            font-size: 18px;
            font-weight: bold;
        }
        
        .top_panel img {
            width: 30px;
            height: 30px;
            margin: 0 5px;
        }
        
        .panel_img img {
            border-radius: 10px;
        }
        
        .panel_sub p,
        .panel_sub a {
            margin-bottom: 30px;
            color: #fff !important;
        }
        
        .p_s {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .download_links {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .download_links a {
            color: #555;
        }
        
        .download_links a:hover {
            color: #eb8307;
        }
        
        .dropdown {
            display: inline-block;
            position: relative;
            overflow: hidden;
            direction: rtl;
            height: 28px;
            width: 100px;
        }
        
        .dropdown:before,
        .dropdown:after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 9px;
            left: 10px;
            width: 0;
            height: 0;
            border: 4px dashed;
            border-color: rgb(192, 191, 191) transparent;
            pointer-events: none;
        }
        
        .dropdown:before {
            border-bottom-style: solid;
            border-top: none;
        }
        
        .dropdown:after {
            margin-top: 7px;
            border-top-style: solid;
            border-bottom: none;
        }
        
        .dropdown-select {
            position: relative;
            width: 130%;
            margin: 0;
            padding: 6px 8px 6px 10px;
            height: 28px;
            line-height: 14px;
            font-size: 12px;
            color: #fff;
            text-shadow: 0 1px white;
            /* Fallback for IE 8 */
            background: none !important;
            /* "transparent" doesn't work with Opera */
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
        }
        
        .dropdown-select:focus {
            z-index: 3;
            width: 100%;
            color: #000;
        }
        
        .dropdown-select>option {
            margin: 3px;
            padding: 6px 8px;
            text-shadow: none;
            border-radius: 3px;
            cursor: pointer;
        }
        /* Dirty fix for Firefox adding padding where it shouldn't. */
        
        @-moz-document url-prefix() {
            .dropdown-select {
                padding-left: 6px;
            }
        }
        /* download table */
        
        .table tr {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            height: 70px;
        }
        
        .table td {
            border-top: none !important;
            margin-left: 100px;
        }
        
        .table td a {
            color: #e1e1e1;
        }
        
        .table td a:hover {
            color: #eb8307;
        }
        
        .chip {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0 25px;
            height: 200px;
            width: 100%;
            font-size: 16px;
            line-height: 50px;
        }
        
        .chip img {
            width: 120px;
            height: 120px;
            float: right;
            margin: 20px;
            border-radius: 50%;
        }
        
        .chip img:hover {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        
        .chip a {
            color: #fff !important;
        }
        
        .chip a:hover {
            color: #eb8307 !important;
        }
        /* contact form */
        /************ dashboard ************/
        
        .dashboard {
            display: flex;
            height: 1300px;
            background: #333333;
            padding: 0;
            border-radius: 5px;
        }
        
        .dash_btn {
            background: #fff;
            border-top-left-radius: 100px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 0;
        }
        
        .dash_btn ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 100px;
            margin-right: 20px;
        }
        
        .dash_btn ul li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 100%;
        }
        
        .dash_btn ul li:hover {
            background: #333333;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        
        .dash_btn ul li a {
            color: #000;
        }
        
        .dash_btn ul li:hover a {
            color: #fff !important;
        }
        
        .dash_pan {
            padding: 50px;
        }
        
        .dash_pan span {
            color: #fff;
        }
        
        .btn_group {
            display: flex;
            justify-content: center;
            height: 40px;
            margin: 60px 0;
            background: #fff;
            border-radius: 15px;
        }
        
        .btn_group button {
            border-radius: 15px;
            border: none;
            background: #fff;
        }
        
        .btn_group button:hover,
        .btn_group button:focus {
            border-radius: 15px;
            background: #EB8307;
        }
        
        .btn-block {
            margin: 0 !important;
        }
        
        .Subscription_box {
            background: #fff;
            border-radius: 15px;
            height: 350px;
            padding: 50px;
            margin: 50px;
        }
        
        .Subscription_type {
            height: 200px;
            width: 200px;
            background: #EB8307;
            border-radius: 15px;
            padding: 50px;
        }
        
        .Subscription_type span {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
        }
        
        .Subscription_option {
            min-height: 200px;
        }
        
        .Subscription_option img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
        }
        
        .buy_btn {
            float: left;
            margin-top: 20px;
        }
        
        .Comments_box {
            display: flex;
            flex-direction: column;
            background: #fff;
            border-radius: 15px;
            height: 150px;
            padding: 20px;
            margin: 50px;
        }
        
        .Comments_box .buy_btn {
            display: flex;
            justify-content: flex-end;
        }
        
        .Comments_box span {
            color: #000;
        }
        
        .c_date {
            float: right;
        }
        
        .c_like {
            float: left;
        }
        
        .c_like img {
            width: 30px;
            height: 30px;
        }